extend public
block body
	h3 Interfaces RESTs
	p Ciudad: #{datos.name}
	p Temperatura: #{datos.main.temp}ºC
	p Mínima: #{datos.main.temp_min}ºC
	p Máxima: #{datos.main.temp_max}ºC
	p Clima: #{datos.weather[0].description}
	p Humedad: #{datos.main.humidity}%