doctype
html(lang='es')
	head
		meta(charset="utf-8")
		title Interfaces RESTs
		meta(name="author", content="Veselin Georgiev | veselingp@hotmail.com")
		meta(name="description" content="Programa que utiliza el API de Open Weather Map y presenta en una etiqueta HTML específica")
	body
		block body